{% extends "base.html" %}

{% block titulo %}Dashboard{% endblock titulo %}

{% block conteudo %}

<a href="{{ url_for('usuario.logout') }}"><button>Sair da conta</button></a>

{% if usuario %}

<p>Nome: {{ usuario.nome }}</p>
<p>CPF: {{ usuario.cpf }}</p>
<p>Telefone: {{ usuario.telefone }}</p>
<p>Email: {{ usuario.email }}</p>
<p>Preferencial: {{ usuario.preferencial }}</p>
<p>Função: {{ usuario.funcao }}</p>

{% endif %}

<form action="{{ url_for('fila.entrar_fila') }}" method="post">
    <input type="hidden">
    <button type="submit">Entrar na fila</button></a>
</form>

<h2>Fila de Usuários</h2>
{% if fila %}
<ul>
    {% for senha in fila %}
        {% if senha.uuid_usuario == usuario.uuid_usuario %}
            <li style="color:green">{{ loop.index }}</li>
        {% else %}
            <li>{{ loop.index }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% else %}
<p>Não há filas disponíveis.</p>
{% endif %}


{% endblock conteudo %}