{% extends "base.html" %}

{% block titulo %}FastPhilas{% endblock %}

{% block conteudo %}

<form action="{{ url_for('usuario.insert_usuario') }}" method="post">
        <label for="nome">Nome</label>
        <input name="nome" type="text" maxlength="40">
        <label for="cpf">CPF (Apenas Números)</label>
        <input name="cpf" type="text" maxlength="11">
        <label for="telefone">Telefone (Apenas Números)</label>
        <input name="telefone" type="number" maxlength="11">
        <label for="email">E-mail</label>
        <input name="email" type="text" maxlength="100">
        <label for="senha">Senha</label>
        <input name="senha" type="password" maxlength="30">
        <select name="preferencial">
            <option value="sim">Gestante</option>
            <option value="sim">Idoso (60+)</option>
            <option value="nao">Não</option>
        </select>
        <select name="funcao">
            <option value="administrador">Administrador</option>
            <option value="cliente">Cliente</option>
        </select>
        <button type="submit">Cadastrar</button>
</form>

{% if erros %}

    {% for erro in erros %}
        <p>{{ erro }}</p>
    {% endfor %}

{% endif %}

{% endblock %}